.mainContent{
 width: 100%;
 height: fit-content;
 border: 0.5mm solid black;
 border-left: 0.5mm solid black;
 border-right: 0.5mm solid black;
 text-align: center;
}

#aboutMeShort{
    padding: 5px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-align:left;

}

#aboutMeLong{
    padding:10px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-align:left;   
}

.card {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 1rem;
    border: 3px solid black;
    border-style: ridge;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }

.card-header{
    display:inline;
}



#name{
    font-size: 20px;
    display: block;
    margin:auto;
    width: fit-content;
    text-align: center;
    font-weight: bold;
}

#skill-name{
    font-size: 20px;
    display: block;
    margin:auto;
    width:auto;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: -10px;
    background-color:rgb(20, 0, 134);
    color: linen;
    text-align: center;
    font-weight: bold;
    padding:10px;
}

#role{
    
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    
    width: 50%;
    
    
}

#period{
    
    margin-left: 0;
    margin-right:auto;
    width: 50%; 
   
}

#locationDiv{
    font-size: 15px;
    font-weight: bold;
    
}
table{
    font-size: 20px;
    display: block;
    width: 100%;
    column-span: all;
    padding:10px;

}


.role-ul{
    text-align: left;
}


h1{
    background-color:rgb(0, 64, 128);
    margin-block-start: 2px;
    color:powderblue;
    text-align: center;
    text-shadow: 2px 2px black;

}


.projectCard{
    width: 500px;
    height: 500px;
    display:inline-table;
    margin:20px;
    padding:20px;
    border: 3px solid black;
    border-style:outset;

}

.project-card-div{
    margin:auto;
}

#skillCards{
    display: inline-flex;
    margin: 15px;
}

.skill-card-div{
    padding: 10px;
    min-width: 150px;
    min-height: 150px;
    border:1px black solid ;
    margin: 15px;
    
    
}

.skills-ul{
    margin:10px;
    display: inline-table;
    list-style-type:none;
    margin-top:20px;
    padding: 10px;
    font-style: italic;
    
    
    
}