.mainContent{
 width: 100%;
 height: fit-content;
 border: 0.5mm solid black;
 border-left: 0.5mm solid black;
 border-right: 0.5mm solid black;
 text-align: center;
}

#aboutMeShort{
    padding: 5px;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-align:left;

}

#aboutMeLong{
    padding:10px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    text-align:left;   
}

.card {
    width: 50%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 1rem;
    border: 3px solid black;
    border-style: ridge;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    }

.card-header{
    display:inline;
}



#name{
    font-size: 20px;
    display: block;
    margin:auto;
    width: fit-content;
    text-align: center;
    text-emphasis:bold;
}

#role{
    
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    
    width: 50%;
    
    
}

#period{
    
    margin-left: 0;
    margin-right:auto;
    width: 50%; 
   
}

#locationDiv{
    font-size: 15px;
    font-weight: bold;
    
}
table{
    font-size: 20px;
    display: block;
    width: 100%;
    column-span: all;
    padding:10px;

}


.role-ul{
    text-align: left;
}


h1{
    background-color:rgb(0, 64, 128);
    margin-block-start: 2px;
    color:powderblue;
    text-align: center;
    text-shadow: 2px 2px black;

}