.mainContent{
 width: 100%;
 height: fit-content;
 border: 0.5mm solid black;
 border-left: 0.5mm solid black;
 border-right: 0.5mm solid black;
 text-align: center;
}


h1{
    background-color:teal;
    margin-block-start: 2px;
    color:powderblue;
    text-align: center;
    text-shadow: 2px 2px black;

}